<h1>Listing candidates</h1>

<table>
  <tr>
    <th>Election Year</th>
    <th>Candiate</th>
    <th>Elected</th>
    <th>Party</th>
    <th>District</th>
    <th>Office</th>
    <th>More...</th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.year %></td>
    <td><%= "#{candidate.last}, #{candidate.first}, #{candidate.middle}" %></td>
    <td><%= candidate.elected %></td>
    <td><%= candidate.party %></td>
    <td><%= candidate.district %></td>
    <td><%= candidate.office %></td>
    <td><%= link_to 'Show', candidate %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
